<div id="moduleEditDialog" class="modal fade" tabindex="-1"
	role="dialog" aria-hidden="true" data-width="400" data-height="150"
	data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<span id="dialogTitle">添加模块</span>
			</div>
			<div class="modal-body">
				<div class="input-area">
				  <form id="moduleForm" name="moduleForm" method="post" action=""  enctype="multipart/form-data">
				    <input type="hidden" id="id" name="id"/>
				    <input type="hidden" id="parentModuleId" name="parentModuleId"/>
					<table>
						<tr>
							<td class="td-label"><span style="color: red;">模块Code*:</span>
							</td>
							<td><input type="text" id="moduleCode" name="moduleCode" maxlength="40" /></td>
							<td class="td-title">&nbsp;</td>
						</tr>
						<tr>
							<td class="td-label"><span style="color: red;">模块名称*:</span>
							</td>
							<td><input type="text" id="moduleName" name="moduleName" maxlength="40" /></td>
							<td class="td-title">&nbsp;</td>
						</tr>
						<tr>
							<td class="td-label"><span style="">模块图标:</span></td>
							<td><input type="text" id="moduleIcon" name="moduleIcon" maxlength="80" /></td>
							<td class="td-title">&nbsp;</td>
						</tr>
						<tr>
							<td class="td-label">&nbsp;</td>
							<td colspan="2" class="td-text-top">(必须为images/下的图标，例：images/del.png)</td>
						</tr>
						<tr>
							<td class="td-label"><span style="">模块访问地址:</span></td>
							<td><input type="text" id="moduleUrl" name="moduleUrl" maxlength="40" /></td>
							<td class="td-title">&nbsp;</td>
						</tr>
						<tr>
							<td class="td-label">&nbsp;</td>
							<td colspan="2" class="td-text-top">(系统访问的相对地址，例：admin/)</td>
						</tr>
						<tr>
							<td class="td-label"><span style="">显示顺序:</span></td>
							<td><input type="number" class="number"
								style="ime-mode: disabled;" id="index" name="index"
								maxlength="2" min="0" max="99" /></td>
							<td class="td-title">&nbsp;</td>
						</tr>
						<tr>
							<td class="td-label td-text-top">模块说明:</td>
							<td><textarea id="remarks" name="remarks" maxlength="850"></textarea></td>
						</tr>
					</table>
				  </form>
				</div>
			</div>
			<div class="modal-footer">
				<span class='error' id="showError"></span>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="saveModule();">保存</button>
			</div>
		</div>
	</div>
</div>