<div class="content" id="domainTab$!{domainId}">
    <div class="search-bar">
    </div>
	<div class="data-area">
		<div class="grid-area">
			<table id="roleGrid$!{domainId}">
				<tr>
					<td />
				</tr>
			</table>
			<div id="pager$!{domainId}" class="pager"></div>
		</div>
	</div>
	<div class="operation-area">
		<button onClick="showAdd();">添加角色</button>
		<button onClick="deleteRoles();">删除角色</button>
		<span class='error' id="showListError"></span>
		<span class='warning' id="showListMsg"></span>
	</div>
</div>